params {
    proteins_faa         = 'test/proteins.faa'
    hmm_dir              = 'test/hmms'
    outdir               = 'double_test'
    hmm_evalue           = '1e-5'
    hmmer_container      = 'biocontainers/hmmer:v3.2.1dfsg-1-deb_cv1'

    deeptmhmm_mode       = 'container'              // cloud | container
    deeptmhmm_model      = 'DTU/DeepTMHMM:1.0.24'  // cloud mode only
    deeptmhmm_dir        = null                     // required for container mode
    deeptmhmm_container  = 'interpro/deeptmhmm:1.0'
    deeptmhmm_keep_going = false
    deeptmhmm_gpu        = false
}

process {
    executor = 'local'
    cpus     = 48
    memory   = '200 GB'
    time     = '48h'

    withName: HMMSEARCH_IR {
        container = params.hmmer_container
    }

    withName: DEEPTMHMM_TOPOLOGY {
        cpus   = 8
        memory = '32 GB'
        time   = '24h'

        container = params.deeptmhmm_mode == 'container' ? params.deeptmhmm_container : null
        containerOptions = params.deeptmhmm_gpu ? '--gpus all' : ''
    }
}

profiles {
    standard {
        process.executor = 'local'
    }

    docker {
        docker.enabled = true
        apptainer.enabled = false
    }

    apptainer {
        docker.enabled = false
        apptainer.enabled = true
        apptainer.autoMounts = true

        process {
            withName: DEEPTMHMM_TOPOLOGY {
                containerOptions = params.deeptmhmm_gpu ? '--nv' : ''
            }
        }
    }
}
