params {
    proteins_faa    = 'test/copepod.faa'
    hmm_dir         = 'test/hmms'
    outdir          = 'copepod_results'
    hmm_evalue      = '1e-5'
    hmmer_container = 'biocontainers/hmmer:v3.2.1dfsg-1-deb_cv1'
    deeptmhmm_mode  = 'local'
    deeptmhmm_model = 'DTU/DeepTMHMM:1.0.24'
}

process {
    executor = 'local'
    cpus = 48
    memory = '200 GB'
    time = '48h'
}

profiles {
    local {
        process.executor = 'local'
    }

    docker {
        docker.enabled = true
        process.executor = 'local'
    }
}
