params {
    proteins_faa    = 'test/proteins.faa'
    hmm_dir         = 'test/hmms'
    outdir          = 'results'
    hmm_evalue      = '1e-5'
    hmmer_container = 'biocontainers/hmmer:v3.2.1dfsg-1-deb_cv1'
    deeptmhmm_mode  = 'local'
    deeptmhmm_model = 'DTU/DeepTMHMM:1.0.24'
}

process {
    executor = 'local'
    cpus = 1
    memory = '1 GB'
    time = '1h'
}

profiles {
    local {
        process.executor = 'local'
    }

    docker {
        docker.enabled = true
        process.executor = 'local'
    }
}
